$white: #EFEFEF;
$grey: #707070;
$black: #070606;
$red: #CE4257;
$teal: #4EC4AE;
$green: #02C39A;
$blue: #00A896;

* {
    box-sizing: border-box;
}

html,
body {
    background-color: $black;
    color: $white;
}

a {
    color: $teal;
    &:hover {
        color: $blue;
    }
}