.container {
  background-color: #070606;
  color: #efefef;
  box-sizing: border-box;
  margin: auto auto;
  position: relative; }

.fixed {
  position: absolute;
  top: 45%;
  left: 25%;
  width: 50%; }

.globe {
  position: relative;
  width: 100vw;
  height: 100vh;
  object-fit: cover; }
